<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div id="app">
  
        <input v-model="searchQuery" placeholder="Search">
        <ul v-for="book in resultQuery" type="none">
            <li>{{book}}</li>      
        </ul>
    
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        searchQuery: null,
        books : [
            'Kalkulus Dasar',
            'Fisika Dasar',
            'Aljabar Linier Elementer',
            'Aljabar Abstrak',
            'Algoritma Pemrograman'
        ]
      
      },
      computed : {
          resultQuery(){
            if(this.searchQuery){
              return this.books.filter((book)=>{
                return this.searchQuery.toLowerCase().split(' ').every(v => book.toLowerCase().includes(v))
              })
            }else{
              return this.books;
            }
          }
      }
      
  })
  </script>
</body>
</html>